body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5em;
    padding: 0;
    margin: 0; 
    height: 100%;
    width: 100%;
    background-color: whitesmoke; 
}
/************** THE HEADER **************/
header{
    padding-top: 10px;
    min-height: 15%;   
}
.nav-container{
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-bottom:2px solid #da5701;
    position:sticky;
    top:0;
    color: #233641;
}
header #nav-branding{
    float: left;
    margin-left: 30px;
}
header #nav-branding span,
.contact span,
.copywrite span,
.search span{
    color: #da5701;
}
header nav{
    float: right;
}
nav li{
    display: inline;
    padding:0 30px;
}
nav a{
    color: #233641;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
nav a:hover{
    color: #da5701; 
    text-shadow: 1px 1px 1px  #233641;
}
/************** THE SESSION **************/
/* Home Page */



/************** THE FOOTER **************/
footer{
    margin-top: 20px;
    background-color: #233641;
    color: white;
    overflow: hidden;
    clear: both;
}
.contact,
.search,
.social-media{
    float: left;
    width: 25%;
    margin: 50px;
}
.search input{
 width:60% ;
 height: 30px;
 padding: 0 10px;
 outline: none;
 margin-top: 10px;
}
.search input:focus,
.search button:focus{
    box-shadow: 0 0 .4rem .4rem rgba(281, 87, 1, .4);
    border:none;
}
.search button{
    padding:5px;
    font-weight: bold;
    color: white;
    background-color: #da5701;
    outline: none;
    border: none;
    width: 30%;
    height: 35px;
}
.icon img{
    width: 35px;
    height: 35px;
    display: inline-block;
    margin:15px;
}
.light, .down{
    border: 1px solid #da5701;
}
.light{
    width: 100%;
}
.copyrite p{
    text-align: center;
    margin: 0 auto;
}
.down{
    width: 70%;
}
/************** THE MEDIA QUERIES FOR RESPONSIVNESS **************/
@media screen and (max-width: 950px){
    header #nav-branding,
    header nav,
    header .nav-container  nav li{
        float: none;
        text-align: left;
        display: block;
        padding: 2px;
    }
}

