.container {
    width: 30%;
    display: grid;
    border: 3px solid goldenrod;
    border-radius: 10px;
    margin: 50px auto;
    height: 480px;
}
.test {
    width: 80%;
    margin-left: 40px;
}
.text {
    padding: 15px;
    margin-left: 30px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button {
    margin: auto;
    padding: 10px;
    color: blue;
}
button:hover {
    background-color: coral;
}